.root {
    padding: 8px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
    max-width: 500px;
}

.input {
    flex: 0 1 75%;
    padding-right: 16px;
}

.create {
    flex: 0 1 25%;
}
